@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  user-select: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardHolder {
  margin-top: 2rem;
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 500px;
}

.upperSuit {
  font-size: xx-large;
  text-align: start;
  margin-inline: 0.3rem;
}
.lowerSuit {
  font-size: xx-large;
  text-align: end;
  margin-inline: 0.3rem;
}

.blackSuit {
  color: black;
}
.redSuit {
  color: red;
}

#numberSelected {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-justify: center;
  font-size: 400%;
  padding: 3rem;
  font-weight: bolder;
}

#afterWinMenu {
  display: flex;
}

#playingButtons {
  display: flex;
}
